// Include functions, mixins, and variables here
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Custom variables
$enable-gradients: true;
$enable-shadows: true;

// Create your own map of colors
$custom-colors: (
  "primario": #146c43,
  "texto": #4dd4ac,
  "sugerencia": #5e7a70,
  "text-pri": #0c3f26,
  "text-alert": #ec515b,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Include the Bootstrap source files
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bs-body-font-family: "Montserrat", sans-serif;
  --bs-gradiente: linear-gradient(
    45deg,
    rgb(28, 137, 9) 0%,
    rgb(69, 209, 18) 100%
  );
  --bs-gradiente-shadow: rgba(134, 215, 133, 0.878) 0px 20px 10px -15px;
  --bs-gradiente-hover: rgba(133, 215, 141, 0.878) 0px 23px 10px -20px;
  --bs-input-shadow: #b9f3b5 0px 10px 10px -5px;
  --bs-social-shadow: rgba(133, 215, 148, 0.878) 0px 12px 10px -8px;
  --bs-input-alert: #f0727a 0px 10px 10px -5px;
}

// Custom styles
.fondo {
  background-image: url("../assets/background4.jpg");
  //background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 500px;
}

.glass {
  width: 85%;
  max-width: 700px;
  border-radius: 40px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  //border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.152);
}

.heading {
  text-align: center;
  font-weight: 500;
}

.form .input {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.793);
  border: none;
  //padding: 15px 20px;
  border-radius: 20px;
  box-shadow: var(--bs-input-shadow);
  border-inline: 2px solid transparent;
  color: map-get($map: $custom-colors, $key: "text-pri");
}

.form .input::-moz-placeholder {
  color: map-get($map: $custom-colors, $key: "sugerencia");
}

.form .input::placeholder {
  color: map-get($map: $custom-colors, $key: "sugerencia");
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid map-get($theme-colors, "texto");
  color: map-get($map: $custom-colors, $key: "text-pri");
}

.input-alert {
  box-shadow: var(--bs-input-alert) !important;
  color: map-get($map: $custom-colors, $key: "text-alert") !important;
  font-weight: 400;
}

.form .forgot-password {
  display: block;
  //margin-top: 10px;
  //margin-left: 10px;
}

.form .forgot-password a {
  color: map-get($custom-colors, "text-pri");
  text-decoration: none;
  transition: color 0.5s ease;
}

.form .forgot-password a:hover {
  text-decoration: underline;
  color: map-get($custom-colors, "text-alert");
}

.form .login-button {
  display: block;
  font-size: 1.3rem;
  max-width: 300px;
  background: var(--bs-gradiente);
  color: white;
  padding-block: 5px;
  margin: 0px auto;
  border-radius: 20px;
  box-shadow: var(--bs-gradiente-shadow);
  border: none;
  transition: all 0.3s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: var(--bs-gradiente-hover);
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: var(--bs-gradiente-hover);
}

.title {
  display: block;
}

.social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(74, 242, 2) 100%);
  border: 2px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: var(--bs-social-shadow);
  transition: all 0.3s ease-in-out;
}

.social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  font-size: 13px;
  color: black;
}
